# Terraform
terraform/**/.terraform/
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.*
terraform/**/terraform.tfstate.backup
terraform/**/crash.log
terraform/**/terraform.tfvars

# Локальные env-файлы
.env

# Системные файлы редакторов/IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
